<div class="card text-white bg-warning mx-2">
    <img class="card-img-top img-fluid" [srcset]="item.hinhAnh" alt="course1"
        src="../../../../assets/images/courses/course3.jpg" style="width: 250px; height: 140px;">
    <div class="card-body text-dark">
        <p class="display-5 card-title"><b><i>{{item.tenKhoaHoc}}</i></b></p>
        <div class="text-mute d-flex align-items-center mt-5 mb-3">
            <p class="card-text m-0 mr-4"><i class="fa fa-user-friends"></i> {{item.soLuongHocVien}}</p>
            <p class="card-text "><i class="far fa-eye"></i> {{item.luotXem | number}}</p>
        </div>

    </div>
    <div class="card-footer d-flex align-items-center">
        <img src="../../../../assets/images/avatar.jpg" alt="avatar" class="avatar-sm mr-3 border-dark">
        <p class="text-dark text-mute m-0"><i>{{item.nguoiTao.hoTen}}</i></p>
    </div>
</div>