<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" routerLink="/"><img src="../../../../assets/images/logoCyberELearning-dark-version.svg"
            alt="logoCyberELearning" class="img-fluid"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Giới thiệu</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link " id="dropdownId" routerLink="/home">Khóa học</a>
                <!-- <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" *ngFor="let item of danhMucList" routerLink="/home">{{item.tenDanhMuc}}</a>
                </div> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/ask-answers">Hỏi đáp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/blogs">Bài viết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/contact">liên hệ</a>
            </li>
        </ul>
        <!-- <div class="mr-auto"></div> -->
        <ul class="navbar-nav ml-auto mr-5 mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/home/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Tài khoản</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/signin"><i class="fa fa-user mr-1 w-25"></i><span
                            class="w-75">Đăng nhập</span></a>
                    <a class="dropdown-item" routerLink="/signup"><i class="fa fa-user-plus mr-1 w-25"></i><span
                            class="w-75">Đăng ký</span></a>
                </div>
            </li>

        </ul>
    </div>
</nav>