.group-control {
  position: fixed;
  top: 50%;
  left: -69px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  &.showGroupControl {
    left: 10px;
  }
  .control-item {
    margin: 5px auto;
    width: 45px;
    height: 45px;
    transition: 0.2s ease;
    text-align: center;
    i {
      line-height: 1.5;
    }
    &:hover {
      //   background-color: transparent;
      border-color: #ffc107;
      box-shadow: 0 5px 30px #ffc10788;
    }
  }
  .bd-round {
    border-radius: 50%;
  }
}
