<ul class="list-unstyled group-control" id="groupControl">
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/signup" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Đăng ký" data-trigger="hover"><i
                class="fa fa-user-plus"></i></button>
    </li>
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/signin" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Đăng nhập" data-trigger="hover"><i
                class="fa fa-external-link-square-alt"></i></button>
    </li>
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/home" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Khóa học" data-trigger="hover"><i
                class="fas fa-laptop-code"></i></button>
    </li>
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/home/ask-answers" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Hỏi đáp" data-trigger="hover"><i
                class="far fa-question-circle "></i>
        </button>
    </li>
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/home/blogs" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Bài viết" data-trigger="hover"><i
                class="far fa-sticky-note "></i> </button>
    </li>
    <li>
        <button class="btn btn-warning bd-round control-item" routerLink="/home/contact" data-toggle="popover"
            data-container="app-group-control" data-delay="300" data-content="Liên hệ" data-trigger="hover"><i
                class="fas fa-address-book  "></i> </button>
    </li>
</ul>