<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header py-0">

            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="../../../assets/images/logoCyberELearning-dark-version.svg" alt="logo"
                    class="img-fuild logoImg"></a>
        </div>

        <ul class="list-unstyled components">
            <div class="p-3 group-button text-center">
                <button class="d-block btn btn-danger w-100">Đăng ký</button>
                <button class="d-block btn btn-outline-warning w-100 my-2">Đăng nhập</button>
            </div>
            <div class="my-3"></div>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" class="dropdown-toggle"><i
                        class="fas fa-laptop-code"></i><span>Khóa học</span></a>
                <ul class="collapse list-unstyled py-0" id="homeSubmenu">
                    <li *ngFor="let item of danhMucList" class="dropdown-li">
                        <a [routerLink]="'/detail/'+item.maDanhMuc">{{item.tenDanhMuc}}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a routerLink="/ask-answers"><i class="far fa-question-circle "></i><span>Hỏi
                        đáp</span></a>
            </li>
            <li>
                <a routerLink="/ask-answers"><i class="far fa-sticky-note "></i><span>Bài
                        viết</span></a>
            </li>
            <li>
                <a routerLink="/ask-answers"><i class="fas fa-address-book  "></i><span>Liên
                        hệ</span></a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content" class="w-100">
        <!-- We'll fill this with dummy content -->
        <app-nav-detail></app-nav-detail>
        <!-- <div class="container-fluid banner-learn">
            <div class="row" style="max-height: 300px; height: 300px;">
                <div class="col-12 col-lg-5 banner-left pt-5">
                    <img src="../../../assets/images/banner-detail-clip.svg" alt="banner-left">
                    <div class="banner-content text-dark">
                        <h1>Chi tiết khóa học</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-7 banner-right pt-5 d-flex justify-content-end">
                    <img src="../../../assets/images/fofo.svg" alt="banner-right">
                </div>

            </div>
        </div> -->
        <app-banner-home></app-banner-home>
        <router-outlet></router-outlet>
    </div>

</div>