<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header py-0">

            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img src="../../../assets/images/logoCyberELearning-dark-version.svg" alt="logo"
                    class="img-fuild logoImg"></a>
        </div>

        <ul class="list-unstyled components">
            <div class="p-3 group-button text-center">
                <button class="d-block btn btn-danger w-100" routerLink="/signup">Đăng ký</button>
                <button class="d-block btn btn-outline-warning w-100 my-2" routerLink="/signin">Đăng nhập</button>
            </div>
            <div class="my-3"></div>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" class="dropdown-toggle"><i
                        class="fas fa-laptop-code"></i><span>Khóa học</span></a>
                <ul class="collapse list-unstyled py-0" id="homeSubmenu">
                    <li *ngFor="let item of danhMucList" class="dropdown-li">
                        <a [routerLink]="'/home/course-detail'">{{item.tenDanhMuc}}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a routerLink="/home/ask-answers"><i class="far fa-question-circle "></i><span>Hỏi
                        đáp</span></a>
            </li>
            <li>
                <a routerLink="/home/blogs"><i class="far fa-sticky-note "></i><span>Bài
                        viết</span></a>
            </li>
            <li>
                <a routerLink="/home/contact"><i class="fas fa-address-book  "></i><span>Liên
                        hệ</span></a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content" class="w-100">
        <!-- We'll fill this with dummy content -->
        <app-nav-detail></app-nav-detail>
        <router-outlet></router-outlet>
    </div>

</div>