.banner-course {
  background: url(../../../assets/images/background-course.svg) no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
  position: relative;
  .group-img {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 63rem;
    }
  }
}
