<div class="container-fluid banner-learn">
    <div class="row" style="max-height: 300px; height: 300px;">
        <div class="col-12 col-lg-5 banner-left pt-5">
            <img src="../../../assets/images/banner-detail-clip.svg" alt="banner-left">
            <div class="banner-content text-dark">
                <h1 class="title">{{title}}</h1>
            </div>
        </div>
        <div class="col-12 col-lg-7 banner-right pt-5 d-flex justify-content-end">
            <img [src]="currentBanner" alt="banner-right">
        </div>

    </div>
</div>